// Global vars
$primaryBtn: #0169d9;
$primaryBtnLighter: #02afe1;
$primaryFontColor: #141c3a;
$pageBackGroundColor: #faf8fa;

// Mixins
@mixin blueGradient() {
  background-image: linear-gradient(to right, $primaryBtn, $primaryBtnLighter);
}

@mixin overlay($_heigtht, $_color) {
  .overlay {
    position: absolute;
    height: $_heigtht; /*height needs to be set*/
    padding: 0 16px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: $_color;
  }
}

@mixin sectionSetUp($_position, $_margin-bottom, $_height, $_padding) {
  margin-bottom: $_margin-bottom;
  position: $_position;
  height: $_height;
  padding: $_padding;
}

body {
  font-size: 18px;
  color: $primaryFontColor !important;
  background-color: $pageBackGroundColor;

  // Features
  h1 {
    font-size: 48px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 24px;
  }

  .btn {
    font-size: 18px;
  }

  .btn-blue {
    color: $primaryBtn;
    background-color: $pageBackGroundColor;
    border: 1.5px solid $primaryBtn;
    border-radius: 2rem;
    &:hover {
      color: $pageBackGroundColor;
      background-color: $primaryBtn;
    }
  }
}

// NavBar
nav {
  .navbar {
    background-color: $pageBackGroundColor;
    margin-bottom: 10px;
  }

  .navbar-brand {
    border: 3px solid $primaryBtn;
    padding: 6px;
    border-radius: 50%;
    .logo {
      padding-top: 5px;
    }
    &:hover {
      background-image: none;
      border-color: $primaryBtn;
      background-color: $primaryBtn;
      .logo {
        fill: $pageBackGroundColor !important;
      }
    }
  }
}

// Sections
.header {
  @include sectionSetUp(relative, 10px, 300px, auto);
  video {
    object-fit: cover;
  }
  @include overlay(120px, $pageBackGroundColor);
}

.about {
  @include blueGradient();
  color: $pageBackGroundColor;
  padding: 100px 16px;
  padding-bottom: 100px;
  
}

.skills {
  margin-top: -100px;
  padding: 24px;
  .btn-blue {
    padding: 20px;
    border-radius: 50%;
    &:hover {
      background-color: $primaryBtn;
      .svg-skill {
        fill: $pageBackGroundColor;
      }
    }
  }

  .card {
    h5 {
      color: $primaryBtn;
    }
  }
}

.work {
  color: $primaryFontColor;
  @include sectionSetUp(auto, 10px, auto, 100px 16px);
}

.contact {
  @include sectionSetUp(auto, 10px, auto, 100px 16px);
  @include blueGradient();
  color: $pageBackGroundColor;
  a {
    text-decoration: none;
    color: $pageBackGroundColor;
  }
  .btn-blue {
    padding: 15px 30px;
    background-color: $primaryBtn;
    border-color: $pageBackGroundColor;
    color: $pageBackGroundColor;
    font-weight: bold;
    &:hover {
      background-color: $pageBackGroundColor;
      color: $primaryBtn;
      svg {
        fill: $primaryBtn;
      }
      a {
        color: $primaryBtn;
      }
    }
  }
  .container {
    .btn-blue {
      padding: 15px;
      border-radius: 50%;
      background-color: $primaryBtn;
      &:hover {
        background-color: $pageBackGroundColor;
        
      }
    }
    
  }
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    height: 400px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header {
    height: 500px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .header {
    height: 600px;
  }
}
