body {
  font-size: 18px;
  color: #141c3a !important;
  background-color: #faf8fa;
}

body h1 {
  font-size: 48px;
}

body h2 {
  font-weight: bold;
  margin-bottom: 24px;
}

body .btn {
  font-size: 18px;
}

body .btn-blue {
  color: #0169d9;
  background-color: #faf8fa;
  border: 1.5px solid #0169d9;
  border-radius: 2rem;
}

body .btn-blue:hover {
  color: #faf8fa;
  background-color: #0169d9;
}

nav p {
  margin: 0;
  padding: 0;
}

nav .navbar {
  background-color: #faf8fa;
  margin-bottom: 10px;
}

nav .navbar-brand {
  border: 3px solid #0169d9;
  padding: 0.1px;
  border-radius: 50%;
}

nav .navbar-brand:hover {
  background-image: none;
  border-color: #0169d9;
  background-color: #0169d9;
}

nav .navbar-brand:hover .logo-background {
  fill: #0169d9 !important;
}

nav .navbar-brand:hover .logo-small-circle {
  fill: #faf8fa;
}

nav .navbar-brand:hover .logo-d {
  fill: #faf8fa;
}

nav .navbar-brand:hover .logo-c {
  fill: #0169d9;
}

.header {
  margin-bottom: 10px;
  position: relative;
  height: 300px;
  padding: auto;
}

.header video {
  -o-object-fit: cover;
     object-fit: cover;
}

.header .overlay {
  position: absolute;
  height: 120px;
  /*height needs to be set*/
  padding: 0 16px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #faf8fa;
}

.about {
  background-image: -webkit-gradient(linear, left top, right top, from(#0169d9), to(#02afe1));
  background-image: linear-gradient(to right, #0169d9, #02afe1);
  color: #faf8fa;
  padding: 100px 16px;
  padding-bottom: 100px;
}

.skills {
  margin-top: -100px;
  padding: 24px;
}

.skills .btn-blue {
  padding: 20px;
  border-radius: 50%;
}

.skills .btn-blue:hover {
  background-color: #0169d9;
}

.skills .btn-blue:hover .svg-skill {
  fill: #faf8fa;
}

.skills .card h5 {
  color: #0169d9;
}

.work {
  color: #141c3a;
  margin-bottom: 10px;
  position: auto;
  height: auto;
  padding: 100px 16px;
}

.contact {
  margin-bottom: 10px;
  position: auto;
  height: auto;
  padding: 100px 16px;
  background-image: -webkit-gradient(linear, left top, right top, from(#0169d9), to(#02afe1));
  background-image: linear-gradient(to right, #0169d9, #02afe1);
  color: #faf8fa;
}

.contact a {
  text-decoration: none;
  color: #faf8fa;
}

.contact h3 {
  font-size: 20px;
}

.contact .btn-blue {
  padding: 5px 15px;
  padding-bottom: 1px;
  background-color: #0169d9;
  border-color: #faf8fa;
  color: #faf8fa;
}

.contact .btn-blue:hover {
  background-color: #faf8fa;
  color: #0169d9;
}

.contact .btn-blue:hover svg {
  fill: #0169d9;
}

.contact .btn-blue:hover a {
  color: #0169d9;
}

.contact .container .btn-blue {
  padding: 10px;
  border-radius: 50%;
  background-color: #0169d9;
}

.contact .container .btn-blue:hover {
  background-color: #faf8fa;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 600px;
  }
}
/*# sourceMappingURL=style.css.map */