$primaryBtn: #0169d9;
$primaryBtnLighter: #02afe1;
$primaryFontColor: #343949;
$lighterDetails: #fffdff;
$pageBackground: #faf8fa;

@mixin blueGradient() {
  background-image: linear-gradient(to right, $primaryBtn, $primaryBtnLighter);
}

body {
  font-size: 18px;
  color: $primaryFontColor !important;
  background-color: $pageBackground;

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
  }
}

.navbar {
  background-color: $pageBackground;
  margin-bottom: 10px;
}

.navbar-brand {
  @include blueGradient();
  border: 2px solid $pageBackground;
  padding: 6px;
  border-radius: 50%;
  .logo {
    padding-top: 5px;
  }

  &:hover {
    background-image: none;
    border-color: $primaryBtn;
    .logo {
      fill: $primaryBtn !important;
    }
  }
}
.nav-item a {
  &:hover {
    color: $primaryBtn !important;
  }
}

.btn {
  font-size: 18px;
}

.btn-questions {
  background-color: $pageBackground;
  color: $primaryBtn;
  border: 1.5px solid $primaryBtn;
  border-radius: 2rem;
  &:hover {
    background-color: $primaryBtn;
    color: $pageBackground;
  }
}

.header-body {
  padding: 20px;
  padding-top: 40px;

  .avatar {
    background-color: $primaryBtn;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    @media screen and (min-width: 769px) {
      width: 210px;
      height: 210px;
    }
  }
}

.about {
  @include blueGradient();
  color: $pageBackground;
  padding: 16px;
  padding-bottom: 100px;
  h2 {
    font-weight: bold;
    margin-bottom: 24px;
  }

  .container {
    width: 60%;
  }
}

.skills {
  margin-top: -100px;
  padding: 24px;
  h2 {
    font-weight: bold;
  }
  .skill {
    padding: 20px;
    background-color: $pageBackground;
  }

  object {
    margin: 20px;
  }

  .btn-skills {
    padding: 20px;
    background-color: $pageBackground;
    color: $primaryBtn;
    border: 1.5px solid $primaryBtn;
    border-radius: 50%;
    &:hover {
      background-color: $primaryBtn;
      .svg-skill {
        fill: $pageBackground;
      }
    }
  }
}

.header {
  margin-bottom: 10px;
  position: relative;
  height: 300px;
  video {
    object-fit: cover;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    height: 120px; /*height needs to be set*/
    padding: 0 16px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: $pageBackground;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    height: 400px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header {
    height: 500px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .header {
    height: 600px;
  }
}
